.profile {
    width: 100px;
    height: 100px;
    padding: 1px;
    border: 3px solid black;
    border-radius: 100%;
}

h4 {
    display: inline-block;
    color: white;
    background-color: black;
    border: 3px solid black;
    border-left-width: 10px;
    border-right-width: 10px;
}

p {
    font-family: "Heebo-Regular", sans-serif;
    margin: 4px;
}

.listing {
    padding: 5px;
}

.company {
    margin-top: 10px;
}

.company-history{
    margin-top: 5px;
    float: right;
    margin-right: 10px;
}

.company-history > img {
    width: 150px;
}

.company-history > span {
    display: block;
    text-align: right;
    font-family: "Heebo-Bold", sans-serif;
    font-size: 0.75em;
}

.company-content {
    margin: 10px 0;
    border: 1px dashed rgba(242, 34, 34, 0.5);
    border-radius: 4px;
    padding: 5px;
}