h4 {
    font-size: 2.2em;
    font-family: "Heebo-Medium", sans-serif;
}

strong{
    font-size: 1rem;
}

.highlight {
    display: inline-flex;
    color: white;
    background-color: black;
    border: 3px solid black;
    border-left-width: 10px;
    border-right-width: 10px;
}

.highlight > img{
    height: 15px;
    padding-right: 5px;
    align-self: center;
    user-select: none;
}

.highlight > h4{
    align-self: center;
}

.top-listing {
    margin-top: 5px;
}

.listing {
    margin-left: 10px;
}

.group {
    display: flex;
    justify-content: space-between;
    border: 1px dashed rgba(0,0,0,0.175);
    border-radius: 3px;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.group-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 0;
}

.group-meta > img {
    max-width: 100%;
    height: 27px;
}

.group-meta > p {
    display: block;
    text-align: right;
    font-family: "Heebo-Regular", sans-serif;
    color: black;
    font-size: 0.9rem;
    line-height: 1;
    margin-top: 5px;
}

.group-content {
    padding-top: 2px;
    padding-left: 6px;
    flex-grow: 1;
}

@media only screen and (max-width: 480px){
    .group{
        flex-direction: column-reverse;
        margin: 10px 0;
    }

    .group-meta{
        align-items: center;
        margin: 0 auto 10px auto;
    }

    .group-meta > img {
        height: auto;
        max-height: 50px;
    }

    .p{
        text-align: center;
    }
}

.group a{
    min-width: 0;
}

.group:hover{
    border: 1px dashed rgba(0, 0, 0, 0.5);
}

.group-resize-small {
    justify-content: space-between;
}

.server > p{
    font-size: 10px;
    line-height: 14px;
    color: rgba(0,0,0,0.3);
}

#stitch-history{
    margin-top: -2px;
    margin-right: 2px;
}