p {
    font-family: "Heebo-Regular", sans-serif;
    font-size: 1.4em;
}

h3{
    font-size: 2.0em;
}

.highlight {
    display: inline-flex;
    color: white;
    background-color: black;
    border: 3px solid black;
    border-left-width: 10px;
    border-right-width: 10px;
}

.highlight > img{
    height: 15px;
    padding-right: 5px;
    align-self: center;
    user-select: none;
}

.highlight > h4{
    align-self: center;
}

.blinking{
    animation: blinking 1s step-start 0s infinite;
    opacity: 1;
}

@keyframes blinking {
    0% {opacity: 1}
    50% {opacity: 0}
    100% {opacity: 1}
}

.profile {
    width: 80px;
    height: 80px;
    border: 5px solid black;
    border-radius: 50%;
    box-sizing: border-box;
}

.social{
    display: inline-flex;
    justify-content: flex-start;
    margin-top: 4px;
    flex-wrap: wrap;
}

.social-label{
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 0 3px;
}

.social-label > p{
    font-size: 1.2em;
    padding-top: 2px;
}

.social-label > .square {
    width: 15px;
}

.social-label > .circle {
    width: 15px;
    border-radius: 50%;
}

.squircle {
    border-radius: 3px;
}

.social-icon{
    height: 15px;
    width: 15px;
    overflow: hidden;
    margin-right: 2px;
}

.social > p{
    padding: 5px;
    justify-self: left;
    flex-grow: 1;
    margin: 0 10px 0 0;
    display: flex;
    flex-direction: row;
}

.top-listing {
    margin-top: 5px;
}

.listing {
    margin-left: 10px;
}

.group {
    display: flex;
    justify-content: space-between;
    border: 1px dashed rgba(0,0,0,0.175);
    border-radius: 3px;
    padding: 3px;
    max-width: 700px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.group:hover{
    border: 1px dashed rgba(0, 0, 0, 0.5);
}

.group-content {
    padding-top: 2px;
    padding-left: 6px;
    flex-grow: 1;
}

.group-meta{
    display: flex;
    flex-direction: column;
    flex-grow: 0.2;
    flex-shrink: 0;
 }

.group-resize-small{
    justify-content: space-between;
}

.group-meta > img {
    height: 27px;
    align-self: flex-end;
}

.group-meta > p {
    align-self: flex-end;
    display: block;
    text-align: right;
    font-family: "Heebo-Regular", sans-serif;
    color: black;
    font-size: 0.9em;
    line-height: 1;
    margin-top: 5px;
}

.server > p{
    font-size: 10px;
    line-height: 14px;
    color: rgba(0,0,0,0.3);
}

#linkedin{
    background-color: #087dd9;
}

#george-brown{
    height: 40px;
}

#stitch-history{
    margin-top: -2px;
    margin-right: 2px;
}